$primary-color: #007bff;
$secondary-color: #6c757d;

$primary-hover: #0056b3;
$text-color: #333;
$text-white : white;

$background-color: #f8f9fa;

$contact-bg :#000000; 
$contact-text :#e0e0e0;

$footer-bg: #f8f9fa;
$footer-text: #555;
