@import '../../../styles/_variables.scss';

.skill-rating {
    margin-top: 0.5rem;
  
    .star {
      font-size: 1.5rem;
      color: $secondary-color;
  
      .filled {
        color: $primary-hover;
      }

      .empty {
        color: $secondary-color;
      }
    }
  }
  